<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ElectronicSystemConnectionString" connectionString="Data Source=CHANDIO;Initial Catalog=ElectronicSystem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DB_9D902A_wplprojectConnectionString" connectionString="Data Source=SQL5019.HostBuddy.com;Initial Catalog=DB_9D902A_wplproject;Persist Security Info=True;User ID=DB_9D902A_wplproject_admin;Password=asadmalik"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages theme="Red" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>